.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.App .content {
    width: 60vw;
}

.App .content .slider-card .roll > div {
    height: 80px;
    background-color: orange;
}

.App .content .slider-card .roll > div:nth-child(odd) {
    background-color: green;
}